<div class="row">
	<p id="notice"><%= notice %></p>
	<div class="col-md-6 col-md-offset-3">
		<div class="well center-it">
			<h2>
			  <%= @pet.name %>
			</h2>

			<% if @pet.image? %>
				<p>
				  <%= image_tag @pet.image.url, class: "pet-show-images" %>
				</p>
			<% end %>

			<p>
			  <%= @pet.name %> is a <%= @pet.species %> who lives in Room #<%= @pet.room %>.
			</p>

			<p>
				<%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-warning" %>
			</p>
		</div>
	</div>
</div>